@font-face {
  font-family: Montserrat;
  src: url(../fonts/Montserrat-SemiBold.ttf);
}
@font-face {
  font-family: Inter;
  src: url(../fonts/Inter-SemiBold.ttf);
}
@font-face {
	font-family: Montserrat-Regular;
	src: url(../fonts/Montserrat-Regular.ttf);
}

#wrapper {
  overflow-x: hidden;
  width: 100%;
}

.card {
	border-radius: 0.3rem;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 2%;
	margin-bottom: 2%;
}
.card a {
	text-decoration: none;
}
.card .col a {
	text-decoration: none;
	display: flex;
  align-items: center;
}
.card-header {
	background-color: unset;
	border-bottom: unset;
}
.modal-content {
  border-radius: 1rem;
}

.navbar {
  padding: 0 2rem 0 1rem;
}

.navbar-collapse {
  flex-basis: unset;
}

.toogle-icon {
  max-width: 5%;
  display: flex;
  align-items: center;
}

.right-link {
  display: flex;
  align-items: center;
}

#sidebar-wrapper {
  min-height: 100vh;
  margin-left: 0rem;
  min-width: 19%;
  max-width: 19%;
  transition: all .3s;
}

#sidebar-wrapper.active {
  min-width: 7%;
  max-width: 7%;
  text-align: center;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875vw 1.25vw;
  font-size: 1.2vh;
  transition: all .3s;
}

#sidebar-wrapper.active .sidebar-heading {
  padding: 1.5vw 1.25vw;
}

#sidebar-wrapper.active .sidebar-heading img {
  max-width: 90%;
}

.sidebar-heading img {
  max-width: 25%;
  transition: all .3s;
}

/* #sidebar-wrapper .list-group {
  width: 17vw;
} */

#page-content-wrapper {
  min-width: 100vh;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

.logo-text {
  display: block;
  float: left;
  font-family: Montserrat;
  color: #106DA7;
  font-weight: 700;
}

.sidebar-heading img {
  display: block;
  float: left;
  margin-right: 3%;
  height: auto;
}

.list-group-item {
  display: flex;
  align-items: center;
  font-family: Montserrat;
  font-size: 2vh;
  color: #084D86;
}

#sidebar-wrapper .list-group-item {
  padding: 0;
  margin-bottom: 1.25rem;
  /* transition: all 0.3s; */
}

#sidebar-wrapper.active .list-group-item {
  padding: 0.25rem;
  margin-bottom: 1.25rem;
  transition: all 0.3s;
}

.list-group-item {
  padding: .75rem 1.25rem;
  transition: all .3s;
}

#sidebar-wrapper .list-group-item img {
  left: 15%;
  max-width: 15%;
}

#sidebar-wrapper.active .list-group-item img {
  left: 29%;
  max-width: 45%;
}

#sidebar-wrapper .list-group-item span {
  left: 35%;
}

#sidebar-wrapper.active .list-group-item span {
  opacity: 0;
  visibility: hidden;
  transition: all .3s;
}

.list-group-item span {
  visibility: visible;
  opacity: 1;
}

#sidebar-wrapper.active .logo-text {
  opacity: 0;
  visibility: hidden;
  transition: all .1s;
}

.list-group-item .logo-text {
  visibility: visible;
  opacity: 1;
  transition: all .1s;
}

.breadcrumb-link {
  font-family: Montserrat;
  font-size: 2vh;
  color: #fff;
}

.breadcrumb-link a {
  font-family: Montserrat;
  font-size: 2vh;
  color: #fff;
  text-decoration: none;
  white-space: nowrap;
}

.right-link {
  max-width: 15%;
  font-family: Montserrat;
  font-size: 1.5vh;
  color: #fff;
}

.company-link {
  max-width: 20%;
  text-align: right;
  font-family: Montserrat;
  font-size: 1.5vh;
  color: #fff;
}

.nav-link {
  font-family: Montserrat;
  font-size: 2vh;
  color: #fff !important;
}

.navbar-divide-complete {
  font-size: 3vh;
  color: #fff;
  padding-left: 1rem;
}

.navbar-divide {
  font-size: 3vh;
  color: #fff;
  padding-right: 0.5rem;
}

.list-group-item:hover {
  background-color: transparent;
}

.list-group-item span {
  color: #1B73AB;
}

hr {
  margin-left: 8%;
  margin-right: 8%;
}

.dropdown-menu {
  max-width: 10%;
  top: 95%;
  left: unset;
  font-weight: 700;
  font-family: Inter;
  font-size: 0.8vw;
  min-width: 13vw;
}

.dropdown-item {
  padding-left: 7%;
}

.dropdown-item span {
  padding-left: 10%;
}

.dropdown-menu p {
  margin: 4% 8%;
}

.dropdown-company {
  display: table;
  padding: 0.8rem;
  align-items: center;
  text-align: center;
  position: relative;
  color: #fff;
  font-family: Montserrat;
  font-size: 1.5vh;
}

.dropdown-profile, .img-setting-link {
  display: table;
  padding: 0.5rem;
  align-items: center;
  text-align: center;
  position: relative;
}

.dropdown-profile-content, .dropdown-company-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: #F9F8F8;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  color: #000;
}

.dropdown-item img {
  max-width: 15% !important;
}

.dropdown-profile-content a:hover, .dropdown-company-content a:hover {
  background-color: #f1f1f1;
}

.dropdown-profile:hover .dropdown-profile-content, .dropdown-company:hover .dropdown-company-content {
  display: block;
}

.dropdown-profile:hover {
  background-color: #F9F8F8;
}

.dropdown-company:hover {
  background-color: #105e9e;
}

.sidebar-bottom {
  display: relative;
}

#sidebar-wrapper footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  max-width: 19%;
  display: block;
  font-size: 2vh;
  transition: all 0.3s;
  padding-top: 4%;
  text-align: center;
}

#sidebar-wrapper.active footer {
  position: fixed;
  height: 25%;
  bottom: 0;
  width: 100%;
  max-width: 7%;
  display: block;
  font-size: 2vh;
  transition: all 0.3s;
  padding-top: 4%;
  text-align: center;
}

iframe {
  margin: 0.7%;
  width: 100%;
  height: 90%;
  display: block;
}

.list-group-item.active {
  background-color: unset; 
  border-color: #007bff;
}

.list-group-item .color-active.active {
  position: absolute;
  right: 95%;
  background-color: #004883;
  width: 1vw;
  height: 2.2vw;
  padding-top: 1%;
  margin-bottom: 0.2rem;
}

.list-group-item.active .image-hover {
  opacity: 1;
}

#sidebar-wrapper.active .list-group-item .tooltiptext {
  visibility: hidden;
  background-color: #084D86;
  font-family: Montserrat;
  font-size: 1.5vh;
  color: #fff;
  text-align: center;
  padding: 5px 10px;
  position: absolute;
  z-index: 1;
  bottom: -60%;
  left: 160%;
  border-radius: 0.1rem;
  margin-left: -3.5rem;
  opacity: 0;
  transition: opacity 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  /* top: -1rem; */
}

#sidebar-wrapper.active .list-group-item .tooltiptext:before{
  content: '';
  display: block;
  width: 0;
  height: 0;
  position: absolute;

  border-top: 0.5vw solid transparent;
  border-bottom: 0.5vw solid transparent;
  border-right: 1.7vw solid #084D86;;
  left: -1.5vw;

  top: 50%;
  transform: translateY(-50%);
}

#sidebar-wrapper.active .list-group-item:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.div-dropdown-title {
	display: flex;
  align-items: center;
}

.dropdown-title-text {
  font-family: Montserrat;
  color: #707070;
  font-size: 2vh;
  font-weight: 700;
  margin-left: 1%;
  flex-basis: 90%;
}

a.collapsed .div-dropdown-title .dropdown-triangle {
	height: 2vh;
	transform: rotate(90deg);
	transition: transform .3s ease-in-out;
}
a .div-dropdown-title .dropdown-triangle {
	height: 2vh;
	transform: rotate(180deg);
	transition: transform .3s ease-in-out;
}

@media (min-width: 768px) {
  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }
}

@media screen and (max-height: 1200px) {

}

/* ---------------------------------------------- Batas ------------------------------------------- */