@font-face {
  font-family: Montserrat;
  src: url('/fonts/Montserrat-SemiBold.ttf');
}

@font-face {
  font-family: Inter;
  src: url('/fonts/Inter-SemiBold.ttf');
}

#wrapper {
  overflow-x: hidden;
}

.navbar {
  padding: 0 2rem 0 1rem;
}

#sidebar-wrapper .active {
    min-width: 80px;
    max-width: 80px;
    text-align: center;
}

.navbar-collapse {
  flex-basis: unset;
}

.toogle-icon {
  max-width: 5%;
  display: flex;
  align-items: center;
}

.right-link {
  display: flex;
  align-items: center;
}

#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
  width: 15rem;
}

#page-content-wrapper {
  min-width: 100vh;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

.logo-text {
  display: block;
  float: left;
  font-family: Montserrat;
  color: #106DA7;
  font-weight: 700;
}

.sidebar-heading img {
  display: block;
  float: left;
  margin-right: 3%;
  height: auto;
}

.list-group-item {
  display: flex;
  align-items: center;
  font-family: Montserrat;
  font-size: 2vh;
  color: #084D86;
}

.breadcrumb-link {
  font-family: Montserrat;
  font-size: 2vh;
  color: #fff;
}

.right-link {
  max-width: 15%;
  font-family: Montserrat;
  font-size: 1.5vh;
  color: #fff;
}

.company-link {
  max-width: 20%;
  text-align: right;
  font-family: Montserrat;
  font-size: 1.5vh;
  color: #fff;
}

.nav-link {
  font-family: Montserrat;
  font-size: 2vh;
  color: #fff !important;
}

.navbar-divide-complete {
  font-size: 3vh;
  color: #fff;
  padding-left: 1rem;
}

.navbar-divide {
  font-size: 3vh;
  color: #fff;
  padding-right: 0.5rem;
}

.list-group-item:hover {
  background-color: transparent;
}

.list-group-item span {
  color: #1B73AB;
}

hr {
  margin-left: 8%;
  margin-right: 8%;
}

.dropdown-menu {
  max-width: 10%;
  top: 95%;
  left: unset;
  font-weight: 700;
  font-family: Inter;
  font-size: 1.7vh;
}

.dropdown-item {
  padding-left: 7%;
}

.dropdown-item span {
  padding-left: 10%;
}

.dropdown-menu p {
  margin: 4% 8%;
}

.dropdown-profile, .img-setting-link {
  display: table;
  padding: 0.5rem;
  align-items: center;
  text-align: center;
  position: relative;
}

.dropdown-profile-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: #F9F8F8;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  color: #000;
}

.dropdown-item img {
  max-width: 15% !important;
}

.dropdown-profile-content a:hover {
  background-color: #f1f1f1;
}

.dropdown-profile:hover .dropdown-profile-content {
  display: block;
}

.dropdown-profile:hover {
  background-color: #F9F8F8;
}

.sidebar-bottom {
  display: relative;
}

footer {
  position: fixed;
  height: 10%;
  bottom: 0;
  width: 100%;
  max-width: 20%;
  display: block;
  font-size: 2vh;
}

iframe {
  margin: 0.7%;
  width: 100%;
  height: 90%;
  display: block;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
}

/* ---------------------------------------------- Batas ------------------------------------------- */

#sidebar {
  min-width: 270px;
  max-width: 270px;
  background: #3e64ff;
  color: #fff;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

#sidebar.active {
  min-width: 80px;
  max-width: 80px;
  text-align: center;
}